<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>About the developer</h4>
        <ul>
          <li><a>Iflak Yousuf</a></li>
          <li><a href="tel: +919596679958">+91-9696679958</a></li>
          <li>
            <a href="mailto: iflakyousuf@gmail.com?subject=Regarding Crunchyroll Clone&body=Hi iflak,">Iflakyousuf@gmail.com</a>
          </li>
          <!-- <li><a href="#">affiliate program</a></li> -->
        </ul>
      </div>
      <div class="footer-col">
        <h4>Revisit</h4>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign-up</a></li>
          <li><a href="/work-in-progress">My List</a></li>
        </ul>
      </div>
      <!-- <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div> -->
      <div class="footer-col">
        <h4>follow me</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/iflak.shahid.9"
            ><i class="fa fa-facebook-f"></i
          ></a>
          <a href="https://x.com/iflak_mir?t=msS9AhDpRkegNOa44b_dCQ&s=08"
            ><i class="fa fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/iflak9?igsh=b20zZnUwa2tzZG1o"
            ><i class="fa fa-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/iflak-yousuf-mir-a50347152?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-row">
      <div class="line"></div>
    </div>
    <div class="footer-row-end">
      <p>Copyright ©2024 Iflak All rights reserved</p>
      <p>
        This website is a personal project and is not affiliated with
        Crunchyroll. All content is for educational and demonstration
        purposes only.
      </p>
    </div>
  </div>
</footer>
