

////new///
* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none;
  height: 36rem;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1389px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  // border: 2px solid darkred;
  opacity: 77%;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 7px 11px;
  position: absolute;
  bottom: 8px;
  height:37rem;
  width: 100%;
  text-align: center;
  font-family: monospace;
  // border-radius: 25px;
  
    // width: 250px;
    // height: 250px;
    background: -webkit-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0, 0, 0, 0.694) 50%,rgba(0,0,0, 1) 100%);
    background: -moz-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0, 0, 0, 0.694) 50%,rgba(0,0,0, 1) 100%);
    background: -o-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0, 0, 0, 0.694) 50%,rgba(0,0,0, 1) 100%);
    background: -ms-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0, 0, 0, 0.694) 50%,rgba(0,0,0, 1) 100%);
    background: linear-gradient(to left, rgba(0,0,0, 0) 0%,rgba(0, 0, 0, 0.694) 50%,rgba(0,0,0, 1) 100%);

}

// color: #f2f2f2;
// font-size: 15px;
// padding: 8px 12px;
// position: absolute;
// bottom: 8px;
// width: 100%;
// text-align: center;



.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.title {


  position: absolute;
  top: 101%;
  // left: 10%;
  width: 65rem;
  /* max-width: 24.75rem; */
  color: #fff;



}
.anime-info{
  position: absolute;
  top: 20%;
  left:10%;
  width:23rem;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
  
  .title {
    font-size: 1rem;
    top: calc(100% - 2rem);
    max-width: 80%;
  }
  
  .anime-info {
    font-size: 0.8rem;
    top: 15%;
    width: 90%;
    left: 5%;
  }
}

@media only screen and (max-width: 480px) {
  .prev,
  .next,
  .text {
    font-size: 12px;
  }
  
  .title {
    font-size: 0.8rem;
    top: calc(100% - 3rem);
    max-width: 100%;
    height: 27%;
  }
  
  .anime-info {
   display:none;
  }
  img{
     min-height:12rem;
  }
  h1 {
    font-size: 1.2rem; /* Adjust as needed */
    margin: 0; /* Remove any default margin */
  }
  .mySlides{
    width: 100%;
    height: 13rem;
  }
}
