.mat-stepper-horizontal {
    margin-top: 7rem;
    height: 14rem;
    width: 39rem;
    // height: 58rem !important;
}

.container {
    width: 100%;
    height: 100%;
    background-color: black;
}

::ng-deep .mat-horizontal-content-container {
    height: 17rem;
}

.mat-mdc-form-field {
    margin-top: 16px;
    background-color: transparent !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    border-bottom: #F47521;
    background-color: transparent !important;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    display: none;
}

.login-button-2 {
    top: 27rem;
    right: 3rem;
    height: 2.5rem;
    background-color: #F47521;
    border: none;
    // font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    display: inline-block;

    position: absolute;
    width: 18rem;

    &:hover {
        cursor: pointer;
        background-color: #f49c62;
    }
}

.login-button {
    top: 22rem;
    right: 3rem;
    height: 2.5rem;
    background-color: #F47521;
    border: none;
    // font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    display: inline-block;

    position: absolute;
    width: 18rem;

    &:hover {
        cursor: pointer;
        background-color: #f49c62;
    }
}

.image-girl {
    z-index: 99 !important;
    top: 7.68rem;
    left: 9.69rem;
    position: absolute;

    img {
        height: 37rem;
        width: 15.2rem;
    }
}


.login-page {
    // background-color: #23252b;
    position: absolute;
    top: 4rem;
    width: 24rem;
    left: 29rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.password {
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
    align-items: flex-start;
}

::ng-deep .mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    font-size: 4rem;

}

::ng-deep .mat-step-text-label {
    font-size: 1rem;
    color: white;
}

::ng-deep .mat-stepper-horizontal-line {
    display: none;
}

::ng-deep .mat-step-header[aria-selected="true"] {
    font-size: 4rem;
    color: white;
    border-bottom: 3px solid #f49c62;
    ;
    // border-bottom: 2px solid #434140;

    // & div.mat-step-label.mat-step-label-active.mat-step-label-selected {
    // //   border-bottom: 2px solid #f49c62; /* Adding an orange underline */
    //   .mat-horizontal-stepper-header-container{
    //     border-bottom: 2px solid #f49c62;;
    // }
    // }
}

::ng-deep .mat-horizontal-stepper-wrapper {

    background-color: #505152;
}

button {
    color: white;
    background-color: #505152;
}
::ng-deep body{
    background-color: black !important;
}