<div class="container">
  <div>
    <h1>Popular Anime</h1>
  </div>

  <div class="outer-card">
    <div *ngFor="let ani of popularAnime" class="card">
      <img src="{{ ani.images.jpg.image_url }}" altImage=".." />
      <h4 class="Anime-name">{{ ani.title }}</h4>
      <div class="card-content">
        <h2 class="card2-title">{{ ani.title }}</h2>
        <h3>{{ ani.title_japanese }}</h3>
        <p><strong>Ranking: </strong> {{ ani.rank }}</p>
        <p><strong>Total Episodes: </strong>{{ ani.episodes }}</p>
        <p class="description">{{ ani.synopsis | descriptionLimit }}</p>
        <a href="{{ ani.url }}" class="play-button">View Details</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1>Top-Raking Anime</h1>
  <div class="outer-card">
    <div *ngFor="let ani of topRankedAnime" class="card">
      <img src="{{ ani.images.jpg.image_url }}" altImage=".." />
      <h4 class="Anime-name">{{ ani.title }}</h4>
      <div class="card-content">
        <h2 class="card2-title">{{ ani.title }}</h2>
        <h3>{{ ani.title_japanese }}</h3>
        <p><strong>Ranking: </strong> {{ ani.rank }}</p>
        <p><strong>Total Episodes: </strong>{{ ani.episodes }}</p>
        <p class="description">{{ ani.synopsis | descriptionLimit }}</p>
        <a href="{{ ani.url }}" class="play-button">View Details</a>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let ani of filteredItems" class="card2">
  <img src="{{ ani.images.jpg.image_url }}" alt="Card Image" />

  <div class="card2-content">
    <h2 class="card2-title">{{ ani.title }}</h2>
    <h3>{{ ani.title_japanese }}</h3>
    <p><strong>Ranking: </strong> {{ ani.rank }}</p>
    <p><strong>Total Episodes: </strong>{{ ani.episodes }}</p>
    <p class="card2-description">{{ ani.synopsis }}</p>
    <a href="{{ ani.url }}" class="play-button">View Details</a>
  </div>
</div>
<div >
  <img src="..\assets\stillLooking.png" alt="" style="width: 88rem;"/>
  <button  onclick="search()" routerLink="./search">Search For Favorite</button>
</div>
