.card {
  
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.outer-card{
  display: inline-flex;
  // overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .card {
    /* Make the cards take up the full space on small screens */
    width: 100%;
    }
  }
.container{
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

 width: 88rem;
  flex-wrap: wrap;
}
::-webkit-scrollbar{
  display: none;
}
.card img {
  width: 90%;
  height: 90%;
  object-fit: fill;
  transition: transform 0.3s ease;
}
.card h2{
  margin-top: -4px;
}

.card:hover img {
  transform: translateY(-100%);
}

.card-content {
  position: absolute;
  font-size: x-small;
  bottom: 0;
  left: 0;
  right: 20px;
  background-color: rgb(16, 15, 15);
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  white-space: wrap;
}

.card:hover .card-content {
  transform: translateY(0);
}

.title {
  margin-top: 0;
}




// ........
.card2 {
      display: flex;
      max-width: 100%;
      color: #fff;
      background-color: #23252b;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card2 img {
      padding: 40px;
      width: 250px;
      height: 100%;
      object-fit: cover;
    }

    .card2-content {
      padding: 20px;
    }

    .card2-title {
    color: white;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .card2-description {
      color: #555;
      margin-bottom: 20px;
    }

    .play-button {
      padding: 10px 20px;
      background-color: #F47521 ;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
    }
    button{
      border: 2px solid   #F47521;
      padding: 3px;
      background-color: transparent;
      color: #F47521;
      height:4rem;
      width:10rem;
      left: 50%;
      font-weight: bolder;
      position: relative;
      left: 45%;

    }
    button:hover{
      cursor: pointer;
      transform: scale(1.04);
      color: #F47521;
    }