.navbar {
  background-color: #23252b;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
height: 3rem !important;
}

.browse {
  background-color: black;
  z-index: 99;
}

.crunchyroll-title {
  display: flex;
  color: #F47521;
  align-items: center;

  font-size: 2rem;

  &:hover {
    color: white;
    cursor: pointer;

    .crunchyroll-logo {
      background-image: url("/assets/crunchyroll-logo-white.png");
      background-position: center;
      /* Maintain the same background position on hover */
    }
  }


}

.crunchyroll-logo {
  width: 4rem;
  height: 3rem;
  background-image: url("/assets/OIP-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  /* Center the background image */
}

.crunchyroll-logo:hover {
  background-image: url("/assets/crunchyroll-logo-white.png");
  background-position: center;
  /* Maintain the same background position on hover */
}


.nav-right {
  display: flex;
 height:3rem !important;
 justify-content: space-around;
 align-items: center;
  & span {
    padding: 0 1rem 0 1rem ;

  }

  & span:hover {
    background-color: black;
    // padding: 1rem 
  }
}

.nav-left {
  display: flex;
  align-items: center;
  .material-icons{
    padding-top: 0rem !important;
  }
}

img {
  width: 5rem;



}

// /* Add your styles here */
.dropbtn {
  background-color: #23252b;
  color: white;
  height: 3rem;
  padding: 20px;
  font-size: 15px;
  border: none;
  display: flex;
  align-items: center;
}

.dropbtn:hover {
  background-color: black;
}

.dropbtn:focus {
  background-color: black;
}





.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: grid;

  padding-top: 2rem;
  grid-template-columns: repeat(5, 1fr);
  top: 3rem;
  row-gap: 1rem;
  position: absolute;
  background-color: black;
  // min-width: 700px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
  height: fit-content;
}

.news {
  display: flow;
  padding-top: 1rem;
  // padding: 1rem 2rem 1rem 1.5rem;
  /* column-gap: 2rem; */
  /* row-gap: 0.5rem; */
  /* grid-template-columns: repeat(5, 1fr); */
  row-gap: 1rem;
  top: 3rem;
  position: absolute;
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 14rem;

  // height: -moz-fit-content;
  height: fit-content;


}

.newslist {
  cursor: pointer !important;
  font-size: medium;
  height: 2rem;
  row-gap: 1rem;
  width: 10.5rem;
  padding: 0rem 2rem 0rem 1.5rem;

  &:hover {
    background-color: #4d4d4d;

  }

}

.dropdown-genre {
  cursor: pointer !important;
  font-size: medium;
  height: 2rem;
  width: 8rem;
  padding: 0rem 2rem 0rem 1.5rem;

  &:hover {
    background-color: #4d4d4d;

  }

}

a {
  color: white !important;
  text-decoration: none !important;
  font-weight: normal;
}
.button{
  color: white !important;
  text-decoration: none !important;
  font-weight: normal;
  height: 3rem;
  background-color: #23252b;
  padding: 23px;
  
 
    &:hover {
      background-color: black;
      
  
    }
  
}

.material-icons{
  cursor: default !important;
  color: white !important;
  padding-top: 1rem;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none; /* Initially hidden */
  z-index: 5; /* Ensure it overlays other content */
}

.backdrop.show {
  display: block; /* Show when the dropdown is open */
}
.loginlist {
  display: flow;
  padding-top: 1rem;
  // padding: 1rem 2rem 1rem 1.5rem;
  // column-gap: 2rem; 

  /* grid-template-columns: repeat(5, 1fr); */
  row-gap: 1rem;
  top: 3rem;
  position: absolute;
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 23rem;
right: 0rem;
  // height: -moz-fit-content;
  height: 88rem;
 p{
  color: #858383;
 }

}

.loginlist-content {
  display: flex;
  flex-direction: column;
  cursor: pointer !important;
  font-size: medium;
 
  height: 4rem;
  row-gap: 1rem;
  width: 23rem;
  padding: 0rem 2rem 0rem 1.5rem;
h3{
  color: #cfcdcd;
  font-family: Arial, Helvetica, sans-serif;
}
  &:hover {
    h3{
      color: white;
    }
    color: white;
    background-color: #575656;

  }

}
.premium-button{
  top:10rem;
  right:3rem;
 height:2.5rem;
background-color:  #F47521;
border: none;
// font-weight: bold;
font-size: 1.2rem;
text-align: center;
padding: 1rem;
display: inline-block;

position:absolute;
width: 18rem;
&:hover{
  cursor: pointer;
  background-color: #f49c62;
}
}
